__pycache__/
.ipynb_checkpoints/
data/*/raw/
data/*/*processed*/
data/*/3d_visual/
experiments/*/checkpoints/
experiments/*/logs/
experiments/**/pred_mask/
src/Pytorch_UNet/
benchmarks/MedImgSeg/dataset/
benchmarks/MedImgSeg/results/
benchmarks/SEAM/models/

# keep the following directories
!data/*/processed_quant/
experiments/**/3d_visual/
benchmarks/diffusion-anomaly/data/brats/training/000002/brats_train_001_t1ce_081_w.nii.gz
