# keep the following directories
!data/*/processed_quant/

# ignore the following directories
__pycache__/
.ipynb_checkpoints/
data/*/raw
data/*/*process*
data/*/3d_visual/
data/YYF_30Case/label*
experiments/*/checkpoints/
experiments/*/logs/
experiments/**/pred_mask/
experiments/**/3d_visual/
src/Pytorch_UNet/

benchmarks/MedImgSeg/dataset/
benchmarks/MedImgSeg/results/
benchmarks/SEAM/models/
benchmarks/MedImgSeg/models/
benchmark
experiments/result_vis/YYF_30Case/labels_vis/
data/WSSS4LUAD/
data/ct_nii
benchmarks/HisynSeg
genai-wsss-backup-20250810.tar.gz
experiments/wsss_unet/results/YYF_30Case/imgs_vis/

data/OSIC/ISBI-manipulation/
