__pycache__/
.ipynb_checkpoints/
data/*/raw/
data/*/*processed*/
data/*/3d_visual/
experiments/*/checkpoints/
experiments/*/logs/
experiments/**/pred_mask/
src/Pytorch_UNet/
benchmarks/MedImgSeg/dataset/

# keep the following directories
!data/*/processed_quant/
experiments/**/3d_visual/

